<div id="dwv">
  <mat-progress-bar mode="determinate" value="{{ loadProgress }}"></mat-progress-bar>
  <div class="button-row">
    <mat-button-toggle-group name="tool" [disabled]="!dataLoaded">
      <mat-button-toggle value="{{ tool }}" color="primary" *ngFor="let tool of toolNames" title="{{ tool }}"
        (click)="onChangeTool(tool)" [disabled]="!dataLoaded || !canRunTool(tool)">
        <mat-icon>{{ getToolIcon(tool) }}</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group name="magnifier" [disabled]="!dataLoaded">
      <mat-button-toggle color="primary" title="Magnifier" (click)="magnifyCanvas()">
        <mat-icon>zoom_in</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group name="data" [disabled]="!dataLoaded">
      <mat-button-toggle color="primary" title="Save data" (click)="saveData()">
        <mat-icon>save</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group name="reset" [disabled]="!dataLoaded" (change)="onSingleToogleChange($event)">
      <mat-button-toggle color="primary" title="Toggle Orientation" (click)="toggleOrientation()">
        <mat-icon>cameraswitch</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group name="tags" [disabled]="!dataLoaded" (change)="onSingleToogleChange($event)">
      <mat-button-toggle color="primary" title="Tags" (click)="openTagsDialog()">
        <mat-icon>library_books</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group name="reset" [disabled]="!dataLoaded" (change)="onSingleToogleChange($event)">
      <mat-button-toggle color="primary" title="Reset" (click)="onReset()">
        <mat-icon>refresh</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="select-box" *ngIf="colours">
      <select id="colourMapSelect" (change)="onColourMapChange($event.target.value)">
        <option value="plain">Plain</option>
        <option value="invPlain">Invplain</option>
        <option value="rainbow">Rainbow</option>
        <option value="hot">Hot</option>
        <option value="hot_iron">Hot Iron</option>
        <option value="pet">Pet</option>
        <option value="hot_metal_blue">Hot Metal Blue</option>
        <option value="pet_20step">Pet 20 steps</option>
      </select>
    </div>
  </div>
  <div id="layerGroup0" class="layerGroup">
    <div id="dropBox"></div>
  </div>
</div>